html {
	scroll-behavior: smooth;
}

.intro-section {
	position: relative;
	padding: 0;
	margin: 0;
}

.intro-section img {
	width: 100%;
	height: 600px;
	display: block;
}

.intro-section::after {
	content: '';
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0)
		linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.6) 100%)
		repeat 0 0;
	z-index: 1;
}

.read-text {
	display: block;
	position: absolute;
	width: 100%;
	color: #fff;
	left: 0;
	bottom: 0;
	padding: 1em;
	font-weight: 500;
	z-index: 2;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.font-awesome-underline {
	text-decoration: none;
}

.img-circle {
	border-radius: 200px;
}

/*================ CONTACT US SECTION ==============================*/
.icons-container {
	width: 40px;
}

.social-icons {
	font-size: 2em;
	color: #fff;
}

.social-icons:hover {
	color: #2a3380;
	background-color: white;
}

/*================ END CONTACT US SECTION ==============================*/

.common-bg-color {
	background-color: #2a3380;
	color: white;
}

.header-size {
	font-size: 48px;
	font-weight: bold;
}

.subheader-size {
	font-size: 30px;
	font-weight: bold;
}

@media screen and (max-width: 760px) {
	.pm {
		width: 100% !important;
	}

	.margin-top {
		margin-top: 15x;
	}

	.font-size {
		font-size: 35px;
	}

	.team-mobile {
		margin: auto;
		display: block;
		text-align: center;
	}
}
