<div class="" id="about">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="">
					<p data-aos="zoom-in" class="text-center header-size font-size">
						Know about us
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div
				data-aos="fade-right"
				data-aos-offset="300"
				data-aos-easing="ease-in-sine"
				class="col-xs-12 col-sm-12 col-md-4"
			>
				<p class="subheader-size">Our mission</p>
				<p id="mission"></p>
			</div>
			<div
				data-aos="flip-left"
				data-aos-easing="ease-out-cubic"
				data-aos-duration="2000"
				class="col-xs-12 col-sm-12 col-md-4 mb-3"
			>
				<div class="card">
					<img name="aboutimg" class="card-img-top" alt="..." />
					<div class="card-body">
						<p id="img-caption" class="card-text"></p>
					</div>
				</div>
			</div>
			<div
				data-aos="fade-left"
				data-aos-offset="300"
				data-aos-easing="ease-in-sine"
				class="col-xs-12 col-sm-12 col-md-4"
			>
				<p class="subheader-size">Our vision</p>
				<p id="visions"></p>
			</div>
		</div>
	</div>
</div>
