<div class="" id="contact">
	<div class="container">
		<div class="row">
			<div class="">
				<p data-aos="zoom-in" class="header-size text-center font-size">
					Contact Us
				</p>
			</div>
		</div>
		<div class="row">
			<div
				data-aos="fade-right"
				data-aos-offset="300"
				data-aos-easing="ease-in-sine"
				class="col-xs-12 col-sm-12 col-md-6"
			>
				<div class="mb-5">
					<div class="row">
						<div class="col">
							<div class="form-group">
								<input
									type="email"
									name="email_from"
									id="email_from"
									placeholder="Email"
									class="form-control"
								/>
							</div>
						</div>
					</div>
					<div class="row mt-2">
						<div class="col">
							<div class="form-group">
								<textarea
									name="contact_message"
									id="contact_message"
									cols="30"
									rows="10"
									class="form-control"
									placeholder="Type a message..."
								></textarea>
							</div>
						</div>
					</div>
					<div class="row mt-2">
						<div class="col">
							<div class="form-group">
								<button onclick="send_email()" class="btn common-bg-color">
									Send
								</button>
								<span id="response_status"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6">
				<div
					data-aos="fade-left"
					data-aos-offset="200"
					data-aos-easing="ease-in-sine"
					class="p-4"
				>
					<table class="table mb-5 w-75">
						<tr>
							<td><em class="fa fa-map-marker fa-lg"></em></td>
							<td id="address"></td>
						</tr>
						<tr>
							<td><strong>Street</strong></td>
							<td id="street"></td>
						</tr>
						<tr>
							<td><em class="fa fa-envelope"></em></td>
							<td id="email"></td>
						</tr>
						<tr>
							<td><em class="fa fa-phone"></em></td>
							<td id="phone"></td>
						</tr>
					</table>
					<span class="badge common-bg-color icons-container"
						><a
							id="facebook"
							target="_blank"
							class="fa fa-facebook font-awesome-underline social-icons"
						></a
					></span>
					<span class="badge common-bg-color icons-container"
						><a
							id="twitter"
							target="_blank"
							class="fa fa-twitter font-awesome-underline social-icons"
						></a
					></span>
					<span class="badge common-bg-color icons-container"
						><a
							id="instagram"
							target="_blank"
							class="fa fa-instagram font-awesome-underline social-icons"
						></a
					></span>
					<span class="badge common-bg-color icons-container"
						><a
							id="whatsapp"
							target="_blank"
							class="fa fa-whatsapp font-awesome-underline social-icons"
						></a
					></span>
					<span class="badge common-bg-color icons-container"
						><a
							id="youtube"
							target="_blank"
							class="fa fa-youtube font-awesome-underline social-icons"
						></a
					></span>
					<span class="badge common-bg-color icons-container"
						><a
							id="linkedin"
							target="_blank"
							class="fa fa-linkedin font-awesome-underline social-icons"
						></a
					></span>
				</div>
			</div>
		</div>
	</div>
</div>
