<nav class="navbar navbar-expand-md navbar-dark fixed-top common-bg-color">
	<div class="container-fluid">
		<a class="nav-link text-white" aria-current="page" href="#"
			><img name="logo" width="70" height="50" alt=""
		/></a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarsExampleDefault"
			aria-controls="navbarsExampleDefault"
			aria-expanded="false"
			aria-label="Toggle navigation"
			id="hamburger_btn"
		>
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav me-auto mb-2 mb-md-0"></ul>
			<ul class="navbar-nav mr-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a
						class="nav-link text-white"
						onclick="click_hamburger()"
						aria-current="page"
						href="#"
						>Home</a
					>
				</li>
				<li class="nav-item">
					<a
						class="nav-link text-white"
						onclick="click_hamburger()"
						aria-current="page"
						href="#service"
						>Services</a
					>
				</li>
				<li class="nav-item">
					<a
						class="nav-link text-white"
						onclick="click_hamburger()"
						aria-current="page"
						href="#about"
						>About</a
					>
				</li>
				<li class="nav-item">
					<a
						class="nav-link text-white"
						onclick="click_hamburger()"
						aria-current="page"
						href="#team"
						>Team</a
					>
				</li>
				<li class="nav-item">
					<a
						class="nav-link text-white"
						onclick="click_hamburger()"
						aria-current="page"
						href="#contact"
						>Contact</a
					>
				</li>
			</ul>
		</div>
	</div>
</nav>
