<div class="container">
<h2 class="text-center" id="service">WHAT WE DO</h2>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5" >
  <div class="col mb-4">
    <div class="card shadow  mb-5 bg-body rounded" data-aos="flip-left" id="card">
      <img src="../images/Image from iOS (2).jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Commercial Law</h5>
        <p class="card-text">Innocent Law  offers a wide range  of services and resources that you would expect from a law firm of our prestige and caliber, combining extensive 
			experience & knowledge of the business transactions. 
			Innocent Law  is home to some of the best corporate law practitioners with extensive knowledge and experience in commercial transactions including;
			Company registration, Drafting and analyzing commercial contracts/agreements, Partnerships,Company share holding,  Debt collection,  Commercial litigation & due diligence.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card shadow p-3 mb-5 bg-body rounded" data-aos="flip-right" id="card">
      <img src="../images/Image from iOS (1).jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Litigation</h5>
        <p class="card-text">Our litigation at Innocent Law is handled by vibrant,smart,experienced & intelligent lawyers who have been vital in pleading cases relating: Criminal litigation, Land Transactions,civil matters, Commercial
			 Transactions, Domestic relations before all courts in Rwanda.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card shadow p-3 mb-5 bg-body rounded" data-aos="flip-left" id="card">
      <img src="../images/Image from iOS.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Intellectual Property Law </h5>
        <p class="card-text">Our intellectual property department is chaired by 
			Innocent Muramira who has vast experience  in  registration of IP, 
			litigation and enforcement of all domains of IP including; trademark, patents, copy right and neighboring rights, geographical indications, industrial designs, enforcement on counterfeits, 
			assignments and registered user agreements.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card shadow p-3 mb-5 bg-body rounded" data-aos="flip-right" id="card">
      <img src="../images/Image from iOS (6).jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Banking & insurance</h5>
        <p class="card-text">our team is well versed with Banking & Insurance 
			regulations domestically and regionally. this has propelled us to gain alot 
			of experience in both banking & insurance practices through helping our clients 
			on the way forward. We advise our clients on  asset management, banking,insurance disputes, 
			financial services regulation &asset financing.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card shadow p-3 mb-5 bg-body rounded" data-aos="flip-left" id="card">
      <img src="../images/Image from iOS (3).jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Legal consultancy & Advisory</h5>
        <p class="card-text">our team at Innocent Law is equipped with vast 
			knowledge not only in matters regarding the laws,regulations & 
			general practice in Rwanda but we also do it at regional level and international level to meet our growing clients needs.
			this has strongly propelled us to be one the fast growing commercial law firms in Rwanda.</p>
      </div>
    </div>
  </div>
  
  </div>
  
  
</div>
</div>