<div class="bg-light" id="team">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="">
					<p data-aos="zoom-in" class="text-center header-size">Team</p>
				</div>
			</div>
		</div>
		<div class="row" data-aos="zoom-in" >
			<div class="card mb-3" style="max-width: 1000px;">
				<div class="row g-0">
				  <div class="col-md-4">
					<img src="../images/avatar.jpg" id="im" alt="...">
				  </div>
				  <div class="col-md-8">
					<div class="card-body">
					  <h5 class="card-title">Muramira Innocent (Founder)</h5>
					  <p class="card-text">
						Me Innocent MURAMIRA is a Member of the Rwanda Bar Association
						(RBA) and East African Law Society (E.A.L.S) since January 2019
						to date.
						Me Innocent MURAMIRA has a post-graduate diploma in Legal
						Practice (P.G.D.L.P) from the Institute of Legal Practice and
						Development (I.L.P.D) obtained in 2017, Bachelor's degree of Laws
						from Uganda Pentecostal University (U.P.U) obtained in 2014 and
						pursuing Masters in International Economic &Business law (IEBL)at
						Independent University of Kigali (ULK).
						
						Me. MURAMIRA Innocent has a rich experience in handling commercial,corporate, civil, insurance, labour, employment & criminal cases at both domestic and regional level.
						
						He has excellent command of English, Kinyarwanda and moderate</p>
					</div>
				  </div>
				</div>
			  </div>
		</div>
	</div>
</div>
