<div class="" id="contact">
	<div class="container">
		<div class="row">
			<div class="">
				<p data-aos="zoom-in" class="header-size text-center font-size">Contact Us</p>
			</div>
		</div>
		<div class="row">
			<div
				data-aos="fade-right"
				data-aos-offset="300"
				data-aos-easing="ease-in-sine"
				class="col-xs-12 col-sm-12 col-md-6"
			>
				<div class="mb-5">
					<form action="#">
						<div class="row">
							<div class="col">
								<div class="form-group">
									<input
										type="text"
										name=""
										id=""
										placeholder="Email"
										class="form-control"
									/>
								</div>
							</div>
						</div>
						<div class="row mt-2">
							<div class="col">
								<div class="form-group">
									<textarea
										name=""
										id=""
										cols="30"
										rows="10"
										class="form-control"
										placeholder="Type a message..."
									></textarea>
								</div>
							</div>
						</div>
						<div class="row mt-2">
							<div class="col">
								<div class="form-group">
									<button type="submit" class="btn common-bg-color">
										Send
									</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6">
				<div
					data-aos="fade-left"
					data-aos-offset="200"
					data-aos-easing="ease-in-sine"
					class="p-4"
				>
					<table class="table mb-5 w-75">
						<tr>
							<td class=""><strong>Address</strong></td>
							<td id="address"></td>
						</tr>
						<tr>
							<td><em class="fa fa-envelope"></em></td>
							<td id="email"></td>
						</tr>
						<tr>
							<td><em class="fa fa-phone"></em></td>
							<td id="phone"></td>
						</tr>
					</table>
					<span class="badge common-bg-color icons-container"
						><a
							id="facebook"
							target="_blank"
							class="fa fa-facebook font-awesome-underline social-icons"
						></a
					></span>
					<span class="badge common-bg-color icons-container"
						><a
							id="whatsapp"
							target="_blank"
							class="fa fa-whatsapp font-awesome-underline social-icons"
						></a
					></span>
				</div>
			</div>
		</div>
	</div>
</div>
