<nav class="navbar navbar-expand-lg fixed-top navbar-light common-bg-color">
	<div class="container">
		<div class="container-fluid">
			<button
				class="navbar-toggler"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"
					><em class="fa fa-navicon" style="color: #fff; font-size: 28px"></em
				></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link text-white" aria-current="page" href="#"
							><img
								name="logo"
								width="70"
								height="50"
								alt=""
						/></a>
					</li>
				</ul>
				<ul class="navbar-nav mr-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link text-white" aria-current="page" href="#">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white" aria-current="page" href="#service"
							>Services</a
						>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white" aria-current="page" href="#about"
							>About</a
						>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white" aria-current="page" href="#team"
							>Team</a
						>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white" aria-current="page" href="#contact"
							>Contact</a
						>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>
