<div class="common-bg-color" id="service">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="">
					<p
						data-aos="zoom-in"
						class="text-white text-center header-size font-size"
					>
						What we do
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-8 mx-auto p-5">
				<div data-aos="flip-up" class="card">
					<img name="imgservice" height="400" class="card-img-top" alt="..." />
					<div class="card-body">
						<h5
							class="card-title text-dark text-center"
							id="title-service"
						></h5>
						<p class="card-text text-dark" id="text-service"></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
